<ion-view view-title="Resource">
   <ion-content class="has-footer padding">
    <div class="row">
      <div class="col col-100">
        <div class="map-container" ng-show="$root.enableMap">
          <div id="map" data-tap-disabled="true"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-100 foray-excursion-info" style="padding-bottom:20px;">
        <h2>{{excursion.name}}</h2>
        <h4 class="foray-blue">{{excursion.description}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col-100" style="padding-top:10px;">
        <span class="foray-location-text">{{program}}</span>
      </div>
    </div>

     <div class="row">
       <div class="col col-100">
         <span class=""><strong>Address:</strong> {{address}}</span>
       </div>
     </div>

       <div class="row">
         <div class="col col-100">
           <span class="">{{description}}</span>
         </div>
       </div>

     <div class="row">
       <div class="col col-100">
         <span class=""><strong>Hours:</strong> {{hours}}</span>
       </div>
     </div>

     <div class="row">
       <div class="col col-100">
         <span class=""><strong>Eligibility:</strong> {{eligibility}}</span>
       </div>
     </div>

     <div class="row">
       <div class="col col-100">
         <span class=""><strong>Documents Req'd:</strong> {{documents_required}}</span>
       </div>
     </div>

     <div class="row">
       <div class="col col-100">
         <span class=""><strong>Fax:</strong> {{fax}}</span>
       </div>
     </div>

     <ion-list>
       <div class="list">
         <ul>
           <li ng-repeat="phone in phoneNumbers" class="item item-icon item-text-wrap intro-list-item">Phone: {{phone}}</li>
         </ul>
       </div>
     </ion-list>

     <br />
  </ion-content>

</ion-view>
