<ion-view view-title="Resources">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content ng-init="selectedCategory = 'none'">
    <label class = "item item-input item-select item-calm item-borderless">
      <div class = "input-label">
        Category
      </div>
      <select ng-model="selectedCategory" ng-options="category for category in categories">
      </select>
    </label>

    <div class="list">
      <a ng-repeat="resource in resources | inArray : selectedCategory : 'category'"
        ui-sref="app.resource({id: resource.$id})"
        class="item resource-icon-left item-text-wrap intro-list-item">

        <i class="fa fa-info-circle icon-50" aria-hidden="true" style="padding-top:10px;color:#009395;"></i>
        <div class="excursion-name">{{resource.program}}</div>
        <div class="excursion-desc">{{resource.service_area}}</div>
      </a>
    </div>
  </ion-content>

  <ion-footer-bar ng-click="pending()" class="bar-positive">
    <beacon-modal beacon="newBeacon" save="saveBeacon(beacon)">
      <h1 class="title"><i class="fa fa-wifi" aria-hidden="true"></i> Set Beacon</h1>
    </beacon-modal>
  </ion-footer-bar>
</ion-view>
